[Desktop Entry]
Name=@@NAME_LONG@@ - URL Handler
Comment=Intelligent Code Editor. Redefined.
GenericName=Code Editor
Exec=@@EXEC@@ --open-url %U
Icon=@@ICON@@
Type=Application
NoDisplay=true
StartupNotify=true
Categories=Utility;TextEditor;Development;IDE;
MimeType=x-scheme-handler/@@URLPROTOCOL@@;
Keywords=ponder;code;editor;ide;
